{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<h1>¿Quienes Somos?</h1>
<br>
<div class="container">
    <div>
        <p style="text-align: justify;"><strong>La librer&iacute;a M&Aacute;SDELIBROS</strong> abri&oacute; sus puertas en Lima en junio de 2022.</p>
        <p style="text-align: justify;">M&aacute;sdelibros est&aacute; integrada en el grupo de <a href="http://www.sistemasuni.edu.pe/" target="_blank" title="Librer&iacute;as">LIBRER&Iacute;AS</a>, asociaci&oacute;n formada por las librer&iacute;as independientes m&aacute;s importantes de Sistemas Uni.</p>
        <p style="text-align: justify;">Es una librer&iacute;a <strong>especializada en </strong>narrativa actual, literatura infantil y juvenil, temas aragoneses, c&oacute;mic, viajes, oposiciones, arte, arquitectura, dise&ntilde;o, narrativa en otros idiomas (ingl&eacute;s, franc&eacute;s, alem&aacute;n, italiano...) y libro de texto, entre otras.</p>
        <p style="text-align: justify;">Desde M&aacute;sdelibros se intenta prestar atenci&oacute;n a las editoriales independientes, apoy&aacute;ndolas en su esfuerzo por difundir la cultura.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Entre los <strong>servicios</strong> que la librer&iacute;a ofrece se encuentran:</p>
        <p style="text-align: justify;">&nbsp;- Tarjeta de fidelizaci&oacute;n para los clientes</p>
        <p style="text-align: justify;">&nbsp;- Informaci&oacute;n bibliogr&aacute;fica</p>
        <p style="text-align: justify;">&nbsp;- Atenci&oacute;n a bibliotecas, universidades, centros de ense&ntilde;anza y otras instituciones</p>
        <p style="text-align: justify;">&nbsp;- Solicitud y pedido bajo demanda de libros</p>
        <p style="text-align: justify;">&nbsp;- Importaci&oacute;n de libros del extranjero</p>
        <p style="text-align: justify;">&nbsp;- Env&iacute;os a cualquier parte del mundo</p>
        <p style="text-align: justify;">&nbsp;- Cuenta de cliente</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p>La BUC se estructura a trav&eacute;s de un sistema bibliotecario &uacute;nico, descentralizado
            en<strong>&nbsp;bibliotecas de centros</strong>&nbsp;y coordinado a trav&eacute;s de
            la&nbsp;<strong>Direcci&oacute;n de la Biblioteca</strong>.&nbsp;</p>
    </div>
</div>
{% endblock %}